@{
    ViewData["Title"] = "Book Already Exists in the Database!";
}

<h2>@ViewData["Title"]</h2>
<p>The Book already exists in the Database!</p>
<a href="@Url.Action("Index", "BooksController")">Back to Books List</a>

