@{
    ViewData["Title"] = "BookCreated";
}

<h2>@ViewData["Title"]</h2>
<p>Congratulations! The author has been successfully created.</p>
<a href="@Url.Action("Index", "Books")">Back to Books List</a>