html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.book-card-img {
    transition: transform 0.3s;
}

    .book-card-img:hover {
        transform: scale(1.1);
    }