@{
    ViewData["Title"] = "Author Already Exists";
}

<h2>@ViewData["Title"]</h2>
<p>The author already exists in the database!</p>
<a href="@Url.Action("Index", "AuthorsController")">Back to Authors List</a>

