
@{
    ViewData["Title"] = "AuthorCreated";
}

<h2>@ViewData["Title"]</h2>
<p>Congratulations! The author has been successfully created.</p>
<a href="@Url.Action("Index", "Authors")">Back to Authors List</a>

