
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="form-group">
        <label for="NameOfBook">Name:</label>
        <input type="text" class="form-control" id="NameOfBook" name="NameOfBook">
    </div>
    <div class="form-group">
        <label for="Description">Description:</label>
        <input type="text" class="form-control" id="Description" name="Description">
    </div>
    <div class="form-group">
        <label for="image">ImageURL:</label>
        <input type="text" class="form-control" id="image" name="image">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

