@model Author
@using Bookshop_ASP.NET_Core_MVC_Application.Models
@using Bookshop_ASP.NET_Core_MVC_Application.Data
@inject BookshopDbContext DbContext
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" asp-controller="Authors" method="post" enctype="multipart/form-data">
    <div>
        <label for="FirstName">First Name:</label>
        <input type="text" name="FirstName" id="FirstName" required />
    </div>
    <div>
        <label for="LastName">Last Name:</label>
        <input type="text" name="LastName" id="LastName" required />
    </div>
    <div>
        <label for="Description">Description:</label>
        <textarea name="Description" id="Description"></textarea>
    </div>
    <div>
        <label for="Nationality">Nationality:</label>
        <input type="text" name="Nationality" id="Nationality" required />
    </div>
    <div>
        <label for="ImageUrl">Image URL:</label>
        <input type="url" name="ImageUrl" id="ImageUrl" />
    </div>
    <!-- Add other form fields as needed -->
    <button type="submit">Save</button>
</form>
